<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
  <meta name="author" content="Łukasz Holeczek">
  <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,AngularJS,Angular,Angular2,jQuery,CSS,HTML,RWD,Dashboard">
  <link rel="shortcut icon" href="https://quizapp.calmandlearn.com/favicon.ico">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <title>This is my first App</title>
  <link href="https://quizapp.calmandlearn.com/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://quizapp.calmandlearn.com/css/simple-line-icons.css" rel="stylesheet">
  <link href="https://quizapp.calmandlearn.com/css/style.css" rel="stylesheet">
  <link href="https://quizapp.calmandlearn.com/css/ReactReduxNotify.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css">
</head>
<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">
  <div id="root"></div>
</body>
